.listings h2 {
    width: 390px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
}

.listings {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.places h1 {
    margin-left: 20px;
    margin-bottom: 0px;
}

h1 {
    font-size: 30px;
}
